@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example of how to fill in forms on the web so that they can be displayed on a web page and printed from there</p>

    <p>
        Features:
        <br />
        <a href="UploadReportImage.cshtml"> Upload a background image</a>
        <br />
        <a href="EditReportFields.cshtml"> Edit the fields that go on the form </a>
        <br />
        <a href="ShowW4Report.cshtml"> Show the filled in form </a>

    </p>
</div>
